<mat-toolbar color="primary">
  <button (click)="toggleMenu()" *ngIf="isMobile" aria-label="Menu icon" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <h1>Calendars</h1>
</mat-toolbar>
<mat-sidenav-container autosize="true">
  <mat-sidenav [mode]="isMobile ? 'over' : 'side'" [ngClass]="'expanded'" [opened]="isMobile ? 'false' : 'true'">
    <mat-nav-list>
      <a mat-list-item>
        <span>Hinzufügen</span>
      </a>
      @for (calendar of calendars; track calendar) {
      <a [queryParams]="{uuid: calendar.uuid}" [routerLink]="['/']" mat-list-item>
        <span>{{calendar.name}}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-calendarentries></app-calendarentries>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
