<h2 class="calendarHeader">Content</h2>
<div class="table-container mat-elevation-z8">
  <table [dataSource]="dataSource" mat-table matSort>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Inhalt</th>
      <td *matCellDef="let calendarEntry" class='m-card-title' data-label='Inhalt' mat-cell test>{{calendarEntry.name}}
      </td>
    </ng-container>

    <ng-container matColumnDef="startDateTime">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Datum</th>
      <td *matCellDef="let calendarEntry" class='m-card-sub-title has_label_on_mobile' data-label='Start: '
          mat-cell> {{calendarEntry.startDateTime}}
      </td>
    </ng-container>

    <ng-container matColumnDef="endDateTime">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Datum</th>
      <td *matCellDef="let calendarEntry" class='m-card-sub-title has_label_on_mobile' data-label='Ende: '
          mat-cell> {{calendarEntry.endDateTime}}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell>
      </th>
      <td *matCellDef="let freezeritem" mat-cell>
        <button [matMenuTriggerData]="{freezeritem: freezeritem}" [matMenuTriggerFor]="menu" mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 30]"></mat-paginator>
</div>

<mat-menu #menu="matMenu">
  <ng-template let-freezeritem="freezeritem" matMenuContent>
    <button mat-menu-item>
      <mat-icon>edit</mat-icon>
      <span>Eintrag bearbeiten</span>
    </button>
    <button mat-menu-item>
      <mat-icon color="warn">delete</mat-icon>
      <span>Eintrag löschen</span>
    </button>
  </ng-template>
</mat-menu>
